.main {
  background-image: url("/images/main_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 85vh;
  padding-bottom: 220px;
}

.floatingName {
  margin: 0px;
  padding: 35px 40px 0px 0px;
  font-family: 'Gabriela';
  text-align: right;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 46px;
  opacity: 0.9;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.mainHeadText {
  margin: 140px auto;
  font-family: 'Gabriela';
  font-weight: 400;
  font-size: 64px;
  line-height: 82px;
  text-align: center;
  color: #FFFFFF;
}

.mainHeadText span {
  word-wrap: break-word;
}

.checkButton {
  width: 388px;
  height: 73px;
  background: #FFF8F8;
  border-radius: 20px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkButtonContainer {
  width: 427px;
  height: 102px;
  background: #D8C7B5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin: auto;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.checkButtonText {
  font-family: 'Gabriela';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 46px;
  text-align: center;
}

.line {
	margin: 0px 30px 20px 30px;
	border-bottom: 1px solid #D8C7B5;
}